<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SchedulePlanner</title>
    <link rel="stylesheet" type="text/css" href="../resources/subjects.css">
</head>
<body onload = "loadSubjects()" >
    <div class="topnav">
        <a href="../templates/home.html">Home</a>
        <a href="../templates/subjectstorage.html">Subjects</a>
        <a href="../templates/MemorisationSystem.html">Memorisation System</a>
        <a class="active" href="../templates/SchedulePlanner.html">Schedule Planner</a>
        <a href="../templates/GradeCalculator.html">Grade Calculator</a>
      </div> 
    </div>
</body>